@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto2 Thin'), local('Roboto2-Thin'), url(Roboto2-Thin.woff2) format('woff2'), url(Roboto2-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto2 Light'), local('Roboto2-Light'), url(Roboto2-Light.woff2) format('woff2'), url(Roboto2-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto2-Regular'), url(Roboto2-Regular.woff2) format('woff2'), url(Roboto2-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto2 Medium'), local('Roboto2-Medium'), url(Roboto2-Medium.woff2) format('woff2'), url(Roboto2-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto2 Bold'), local('Roboto2-Bold'), url(Roboto2-Bold.woff2) format('woff2'), url(Roboto2-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto2 Black'), local('Roboto2-Black'), url(Roboto2-Black.woff2) format('woff2'), url(Roboto2-Black.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto2 Italic'), local('Roboto2-Italic'), url(Roboto2-Italic.woff2) format('woff2'), url(Roboto2-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Roboto2';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto2 Bold Italic'), local('Roboto2-BoldItalic'), url(Roboto2-BoldItalic.woff2) format('woff2'), url(Roboto2-BoldItalic.woff) format('woff');
}
