@font-face {
  font-family: 'RobotDraft';
  font-style: normal;
  font-weight: 100;
  src: local('RobotDraft Thin'), local('RobotDraft-Thin'), url(RobotDraft-Thin.woff2) format('woff2'), url(RobotDraft-Thin.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotDraft Light'), local('RobotDraft-Light'), url(RobotDraft-Light.woff2) format('woff2'), url(RobotDraft-Light.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('RobotDraft-Regular'), url(RobotDraft-Regular.woff2) format('woff2'), url(RobotDraft-Regular.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotDraft Medium'), local('RobotDraft-Medium'), url(RobotDraft-Medium.woff2) format('woff2'), url(RobotDraft-Medium.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotDraft Bold'), local('RobotDraft-Bold'), url(RobotDraft-Bold.woff2) format('woff2'), url(RobotDraft-Bold.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: normal;
  font-weight: 900;
  src: local('RobotDraft Black'), local('RobotDraft-Black'), url(RobotDraft-Black.woff2) format('woff2'), url(RobotDraft-Black.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotDraft Italic'), local('RobotDraft-Italic'), url(RobotDraft-Italic.woff2) format('woff2'), url(RobotDraft-Italic.woff) format('woff');
}
@font-face {
  font-family: 'RobotDraft';
  font-style: italic;
  font-weight: 700;
  src: local('RobotDraft Bold Italic'), local('RobotDraft-BoldItalic'), url(RobotDraft-BoldItalic.woff2) format('woff2'), url(RobotDraft-BoldItalic.woff) format('woff');
}
